# Node.js
/backend/node_modules/

# Logs
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Build output
/dist
/build

# Vercel configuration
.vercel/

# IDE and editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
